$colors: (
    navBackground: #fdfdfd,
    lightGray: #FAFAFA,
    gray: #F1F1F1,
    darkGray: #dadada,
    blue: #2257a4,
    dark: #222222
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap');
$fontLato: 'Lato', sans-serif;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontLato;
    background-color: color(gray);
}

a{
    text-decoration: none;
}

.blue_button{
    display: block;
    background-color: color(blue);
    padding: 10px;
    color: color(lightGray);
    text-transform: uppercase;
    text-align: center;
}

.blue_button:hover{
    background-color: #1a427e;
}

header{
    width: 100%;
    height: 60px;
    background-color: color(navBackground);
    position: fixed;
    top: 0;
    z-index: 10;

    .container{
        width: 90%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img{
            height: 50px;
            margin-left: 0;
        }
    
        .nav_icon{
            width: 50px;
            height: 50px;
            justify-content: flex-end;
        }

        .nav_icon:hover{
            cursor: pointer;
        }
    
        nav{
            width: 90%;
            height: 60px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            z-index: 2;
    
            .menu{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 60px;
                left: 0;

                .active{
                    background-color: color(gray);
                }

                ol{
                    list-style-type:none;
                    padding:0;
                    margin:0;

                    li{

                        a, span{
                            width: 100%;
                            display: block;
                            background-color: color(navBackground);
                            padding: 10px;
                            color: color(dark);
                        }
        
                        a:hover,
                        span:hover{
                            background-color: color(gray);
                            cursor: pointer;
                        }
                    }

                    ul{
                        list-style-type:none;
                        padding:0;
                        margin:0;
                        top: 60px;
                    }
                }

                .submenu{
                    display: none;
                    background-color: color(navBackground);

                    a{
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

main {
    section{
        width: 100%;
        min-height: 400px;

        .container{
            width: 90%;
            min-height: 400px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                text-align: center;
            }

            p:first-child{
                font-size: 2rem;
            }

            p:first-child::after{
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                background-color: color(blue);
                transition: all .5s ease-in-out;
                transform: scaleX(.4);
                margin-top: 5px;
            }
    
            p:first-child:hover::after{
                transform: scaleX(1);
            }
        }
    }

    .welcome{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        position: relative;

        .slideshow-container {
            width: 100%;
            height: 100%;
            position: relative;
            margin: auto;
            overflow: hidden;
        }
        
        .mySlides {
            display: none;
            width: 100%;
            height: 500px;
        }

        /* Slider images */
        .mySlides:nth-child(1){
            background: url('../images/slider1_1260x660.png') center center no-repeat;
            background-size: cover;
        }

        .mySlides:nth-child(2){
            background: url('../images/slider2_1260x660.png') center center no-repeat;
            background-size: cover;
        }
        
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        p{
            position: absolute;
            text-align: center;
            color: color(lightGray);
            font-size: 1.5rem;
            z-index: 1;

            span{
                background-color: color(blue);
                display: inline-block;
                padding: 5px;
            }
        }
    }

    .about_us_index{

        .container{
            display: flex;
            flex-direction: column;
            
            p{
                color: color(dark);
            }
        }
    }

    .project{
        background-color: color(lightGray);

        .container{
            flex-direction: column;
        }
    }

    .contact_mention{

        .container{
            flex-direction: column;
            text-align: center;

            p{
                font-size: 1.5rem;
            }
        }    
    }

    .offert{
        width: 100%;
        min-height: 400px;
        margin-top: 100px;
        margin-bottom: 40px;

        .container{
            width: 90%;
            flex-direction: column;

            p:first-child{
                font-size: 2rem;
            }

            p:nth-child(2),
            p:nth-child(3){
                margin-top: 50px;
            }
        }
    }

    .about_us{
        width: 100%;
        min-height: 400px;
        margin-top: 60px;

        .container{
            width: 90%;
            display: flex;
            flex-direction: column;
            text-align: center;

            p:first-child{
                font-size: 2rem;
            }

            p:nth-child(2){
                margin-top: 50px;
            }

            p:nth-child(4){
                margin-bottom: 50px;
            }
        }

        .container:last-child{
            margin-bottom: 50px;
        }
    }

    .contact_info{
        width: 100%;
        min-height: 400px;
        margin-top: 60px;

        .container{
            width: 90%;
            display: flex;
            flex-direction: column;

            div{
                width: 100%;
                display: flex;
                flex-direction: column;

                .map{
                    width: 100%;
                    height: auto;
                    order: 2;
                    margin-top: 50px;
                    margin-bottom: 50px;

                    iframe{
                        width: 90vw;
                        height: 100vh;
                    }
                }
    
                .contact_details{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-top: 50px;

                    p:nth-child(1){
                        border: none;
                        margin-top: 0;
                    }

                    p{
                        font-size: 1.2rem;
                        font-weight: bold;

                        span{
                            font-size: 1rem;
                            font-weight: normal;
                        }
                    }

                    p::after{
                        width: 0%;
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    min-height: 100px;
    color: color(lightGray);

    .polygon{
        width: 100%;
        height: 100px;
        background-color: color(blue);
        clip-path: polygon(0% 35%, 24% 25%, 48% 35%, 74% 25%, 100% 35%, 100% 100%, 0% 100%);
        color: color(blue);
        margin-bottom: -1px;
    }

    div{
        width: 100%;
        height: auto;
        background-color: color(blue);

        .container{
            width: 90%;
            min-height: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            font-size: .8rem;
    
            div{
                width: 40%;
                height: auto;
    
                img{
                    width: 100%;
                }
            }

            .contact_footer_details{
                width: 100%;
                display: flex;
                justify-content: center;

                .contact_info,
                .footer_menu{
                width: 150px;
                min-height: 150px;
                padding: 5px 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                a, span{
                    color: color(lightGray);
                    display: block;
                    width: 100%;
                    text-align: center;
                }

                a:hover{
                    cursor: pointer;
                    color: #c2bebe;
                }

                a:active{
                    color: color(lightGray);
                }
                }

            }
        }

        p{
            text-align: center;
            padding-bottom: 5px;
            padding-top: 20px;
            margin-bottom: 0;
        }

        p:last-child{
            font-size: .8rem;
        }
    }
}

fade{
    .each-fade {
        display: flex;
        width: 100%;
    }

    .each-fade > div {
        width: 75%;
    }

    .each-fade > div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .each-fade p {
        width: 25%;
        font-size: 1em;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0;
        background: #adceed;
    }
}

@media only screen and (min-width: 650px) {
    header{
    
        .container{
            width: 90%;
        
            nav{

                .nav_icon{
                    display: none;
                }
        
                .menu{
                    width: 700px;
                    height: 60px;
                    display: flex;
                    position: relative;
                    top: 0;
                    text-align: center;

                    ol{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        li{
                            display: flex;
                            text-align: center;

                            a, span{
                                height: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 10px 10px;
                            }
                        }

                        .offertLink{
                            position: relative;
                        }
    
                        ul{
                            position: absolute;
                            top: 60px;
                            left: 0;

                            li:hover a{
                                background-color: color(darkGray);
                            }
                        }
                    }

                    .submenu{

                        a{
                            margin-left: 0px;
                        }
                    }
                }
            }
        }
    }

    main{

        .about_us_index{

            .container{
                width: 80%;
            }
        }

        .project{

            .container{
                width: 80%;
            }
        }

        .about_us{

            .container{
                width: 80%;
            }
        }

        .offert{

            .container{
                width: 80%;
            }
        }

        .contact_mention{

            .container{

                p{
                    font-size: 1.8rem;
                }
            }
        }

        .contact_info{
    
            .container{
                width: 80%;
                margin-bottom: 50px;
    
                div{
                    height: 500px;
                    flex-direction: row;
                    justify-content: space-between;

                    .map{
                        width: 70%;
                        order: -1;

                        iframe{
                            height: 400px;
                        }
                    }

                    .contact_details{
                        width: 20%;
                        height: 400px;
                    }
                }
            }
        }
    }

    footer{
        width: 100%;
        min-height: 100px;
        color: color(lightGray);
    
        .polygon{
            width: 100%;
            height: 100px;
            background-color: color(blue);
            clip-path: polygon(0% 35%, 24% 10%, 48% 35%, 74% 10%, 100% 35%, 100% 100%, 0% 100%);
            color: color(blue);
            margin-bottom: -1px;
        }

        div{

            .container{
                font-size: 1rem;
                flex-direction: row;

                div{

                    img{
                        width: 35%;
                    }
                }

                .contact_footer_details{
                    width: 50%;

                    .contact_info,
                    .footer_menu{
                        width: 50%;
                        border: none;
                        border-left: 2px solid color(lightGray);

                        a, span{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 950px) {

    .blue_button{
        width: 250px;
        padding: 15px;
        font-size: 1.3rem;
    }

    header{
    
        .container{
            width: 90%;
        
            nav{

                .menu{

                    ol{

                        li{

                            a, span{
                                padding: 10px 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    main {
        section{
    
            .container{
                min-height: 550px;

                p{
                    font-size: 1.3rem;
                }
    
                p:first-child{
                    font-size: 2.5rem;
                }
            }
        }

        .welcome{
            height: 700px;

            .slideshow-container{

                .mySlides{
                    height: 700px;
                }

                /* Slider Images */
                .mySlides:nth-child(1){
                    background: url('../images/slider1.JPG') center center no-repeat;
                    background-size: cover;
                }

                .mySlides:nth-child(2){
                    background: url('../images/slider2.JPG') center center no-repeat;
                    background-size: cover;
                }
            }

            p{
                font-size: 2rem;
    
                span{
                    padding: 10px;
                }
            }
        }

        .offert-investments{

            ul{

                li{
                    font-size: 1.3rem;
                }
            }
        }

        .contact_info{
    
            .container{
    
                div{

                    .contact_details{
    
                        p{
                            font-size: 1.5rem;
                            font-weight: bold;
    
                            span{
                                font-size: 1.3rem;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Slider Animation */
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }